<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Online Transfer</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-transfer100">
                <form class="login100-form validate-form" action="#" th:action="@{/transfer}" th:object="${home}" method="post" id="transferForm">
                        <span class="login100-form-title p-b-26">
                            Transfer Funds
                        </span>

                    <div class="wrap-input100 validate-input" data-validate = "Enter Sender">
                        <input class="input100" type="text" name="to" th:field="*{to}">
                        <span class="focus-input100" data-placeholder="Sender"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter Receiver">
                        <input class="input100" type="text" name="from" value="from" th:field="*{from}">
                        <span class="focus-input100" data-placeholder="Receiver"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter Amount">
                        <input class="input100" type="text" name="from" value="from" th:field="*{amount}">
                        <span class="focus-input100" data-placeholder="Amount"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <input type="submit" name="submit" value="Transfer" class="container-login100-submit-btn" id="submit-btn">
                    </div>
                    <div class="container-status-msg error-msg">
                        <span class="status-msg" id="failed-error">Sorry, unable to process your request!</span>
                    </div>
                    <div class="container-status-msg success-msg">
                        <span class="status-msg" id="success-message">Transaction completed successfully!</span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }

        window.addEventListener('load', function() {
            var error = document.getElementById("failed-error");
            var success = document.getElementById("success-message");

            if (getParameterByName("status") && getParameterByName("status") === "failed"){
                error.style.visibility = "visible" ;
            } else if (getParameterByName("status") && getParameterByName("status") === "success"){
                success.style.visibility = "visible" ;
            } else {
                success.style.visibility = "hidden";
                error.style.visibility = "hidden" ;
            }

            // Retrieving the cookie
            var csrf = document.cookie.replace(/(?:(?:^|.*;\s*)Csrf-token\s*\=\s*([^;]*).*$)|^.*$/, "$1");
            $("#submit-btn").before('<input type="hidden" name="csrf" value="'+csrf+'">');
        })

    </script>

    <!--===============================================================================================-->
    <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/bootstrap/js/popper.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/daterangepicker/moment.min.js"></script>
    <script src="/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="/js/main.js"></script>
</body>
</html>